.filters{
    width: 20rem;

}

.filters input[type="range"]{
    width: 100%;
}

.filters input {
    accent-color: var(--primary-color)
}


.pageContent {
    display: grid;
    width: calc(100vw - 20rem);
    grid-template-columns: repeat(auto-fit , minmax(20rem, 1fr));
}
