.shadows,
.hovershadows {
  box-shadow: 0px 0px 8px 4px var(--slight-gray),
    0px 0px 2px 2px var(--slight-gray);
}

.hovershadows:hover {
  box-shadow: 8px 8px 4px var(--darc);
}

.snippets {
  background-color: var(--primary);
  border-radius: 5px;
  color: var(--snow);
  padding: 0 0.4rem;
}
/* grid */
.grid {
  display: grid;
  gap: 1rem;
  width: 100%;
}
.twoGridEqual {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 5rem;
}
.threeGridEqual {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem;
}
/* flex */
.flex {
  display: flex;
}
.flex-spc-btw {
  justify-content: space-between;
}
.flex-spc-arnd {
  justify-content: space-around;
}
.flex-end {
  justify-content: flex-end;
}
.flex-center {
  justify-content: center;
}
.flex-start {
  justify-content: flex-start;
}
.align-middle {
  align-items: center;
}
.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.half-wrapper {
  width: 50%;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-col-rev {
  flex-direction: column-reverse;
}
.flex-row-rev {
  flex-direction: row-reverse;
}

/* text-utilities */

.prim-color {
  color: var(--primary);
}
.caution-color {
  color: var(--light-caution);
}
.success-color {
  color: var(--success);
}
.gray-color {
  color: var(--gray);
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.textCenter {
  text-align: center;
}

/* paddings */
.pd-l-sm {
  padding-left: 0.5rem;
}
.pd-r-sm {
  padding-right: 0.5rem;
}
.pd-t-sm {
  padding-top: 0.5rem;
}
.pd-b-sm {
  padding-bottom: 0.5rem;
}
.pd-x-sm {
  padding: 0 0.5rem;
}
.pd-y-sm {
  padding: 0.5rem 0;
}
.pd-sm {
  padding: 0.5rem;
}

.pd-l-md {
  padding-left: 1rem;
}
.pd-r-md {
  padding-right: 1rem;
}
.pd-t-md {
  padding-top: 1rem;
}
.pd-b-md {
  padding-bottom: 1rem;
}
.pd-x-md {
  padding: 0 1rem;
}
.pd-y-md {
  padding: 1rem 0;
}
.pd-md {
  padding: 1rem;
}

.pd-l-lg {
  padding-left: 1.5rem;
}
.pd-r-lg {
  padding-right: 1.5rem;
}
.pd-t-lg {
  padding-top: 1.5rem;
}
.pd-b-lg {
  padding-bottom: 1.5rem;
}
.pd-x-lg {
  padding: 0 1.5rem;
}
.pd-y-lg {
  padding: 1.5rem 0;
}
.pd-lg {
  padding: 1.5rem;
}

.pd-l-xl {
  padding-left: 2rem;
}
.pd-r-xl {
  padding-right: 2rem;
}
.pd-t-xl {
  padding-top: 2rem;
}
.pd-b-xl {
  padding-bottom: 2rem;
}
.pd-x-xl {
  padding: 0 2rem;
}
.pd-y-xl {
  padding: 2rem 0;
}
.pd-xl {
  padding: 2rem;
}

/* margins */
.mg-l-sm {
  margin-left: 0.5rem;
}
.mg-r-sm {
  margin-right: 0.5rem;
}
.mg-t-sm {
  margin-top: 0.5rem;
}
.mg-b-sm {
  margin-bottom: 0.5rem;
}
.mg-x-sm {
  margin: 0 0.5rem;
}
.mg-y-sm {
  margin: 0.5rem 0;
}
.mg-sm {
  margin: 0.5rem;
}

.mg-l-md {
  margin-left: 1rem;
}
.mg-r-md {
  margin-right: 1rem;
}
.mg-t-md {
  margin-top: 1rem;
}
.mg-b-md {
  margin-bottom: 1rem;
}
.mg-x-md {
  margin: 0 1rem;
}
.mg-y-md {
  margin: 1rem 0;
}
.mg-md {
  margin: 1rem;
}

.mg-l-lg {
  margin-left: 1.5rem;
}
.mg-r-lg {
  margin-right: 1.5rem;
}
.mg-t-lg {
  margin-top: 1.5rem;
}
.mg-b-lg {
  margin-bottom: 1.5rem;
}
.mg-x-lg {
  margin: 0 1.5rem;
}
.mg-y-lg {
  margin: 1.5rem 0;
}
.mg-lg {
  margin: 1.5rem;
}

.mg-l-xl {
  margin-left: 2rem;
}
.mg-r-xl {
  margin-right: 2rem;
}
.mg-t-xl {
  margin-top: 2rem;
}
.mg-b-xl {
  margin-bottom: 2rem;
}
.mg-x-xl {
  margin: 0 2rem;
}
.mg-y-xl {
  margin: 2rem 0;
}
.mg-xl {
  margin: 2rem;
}

/* font weights */
.fw-xxs {
  font-weight: 200;
}

.fw-xs {
  font-weight: 300;
}

.fw-sm {
  font-weight: 400;
}

.fw-md {
  font-weight: 500;
}

.fw-lg {
  font-weight: 600;
}

.fw-xl {
  font-weight: 700;
}

.fw-xxl {
  font-weight: 800;
}

.fw-xxxl {
  font-weight: 900;
}

/* font Size */
.fs-xxs {
  font-size: 8px;
}

.fs-xs {
  font-size: 10px;
}

.fs-sm {
  font-size: 12px;
}

.fs-md {
  font-size: 16px;
}

.fs-lg {
  font-size: 24px;
}

.fs-xl {
  font-size: 32px;
}

.fs-xxl {
  font-size: 48px;
}

.fs-xxxl {
  font-size: 64px;
}